<!DOCTYPE html>
<html ng-app='clothesStore'>
  <head>
    <title>Clothes Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/storeController.js"></script>
  </head>
  <header>
    <% include navbar %>
  </header>
  <body ng-controller='StoreControl as storeCtrl' ng-init='storeCtrl.init()'>
    <div class="row">
      <div class="col-md-8">
        <div id="stuff" ng-repeat="product in storeCtrl.products track by $index">
          <img class="product-images" ng-src="/images/items{{$index}}.jpg" height='150'></img>
          <p>{{ product.quantity }} {{ product.name }} <i> <strike> {{ product.old_price | currency: "£" }} </strike> {{ product.price | currency: "£"}} </i> </p>
          <button  ng-hide='storeCtrl.outOfStock(product)' ng-click='storeCtrl.addToCart(product)'>Add to Cart</button>
          <p ng-show='storeCtrl.outOfStock(product)'><i>Out of Stock</i></p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Shopping Cart</h3>
        <div id='vouchers' ng-model='storeCtrl.bestVoucher'>
          <p ><button ng-hide="storeCtrl.bestVoucher == false" ng-click="storeCtrl.applyVoucher(voucher)">{{ storeCtrl.bestVoucher.description }}</button></p>
        </div>
        <div id='cart' ng-repeat='item in storeCtrl.shoppingCart'>
          <p>{{ item.quantity }}x {{ item.name }} {{ item.price | currency: "£" }}</p>
          <p><button ng-click="storeCtrl.removeFromCart(item)">Remove</button></p>
        </div>
        <p ng-model='storeCtrl.subTotal'>Total: {{ storeCtrl.subTotal | currency: "£" }}</p>
        <button ng-click='storeCtrl.emptyCart()'>Empty Cart</button>
      </div>
    </div>

  </body>
</html>
