<!DOCTYPE html>
<html ng-app='clothesStore'>
  <head>
    <title>Clothes Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/voucherService.js"></script>
    <script src="/javascripts/storeController.js"></script>
  </head>
  <header>
    <% include navbar %>
  </header>
  <body ng-controller='StoreControl as storeCtrl' ng-init='storeCtrl.init()'>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-8">
          <div class='bg-success'>
          <% include productList %>
        </div>
        </div>
        <div class="col-md-4">
          <div class='bg-success' id='cart-display'>
            <% include shoppingCart %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
