<!DOCTYPE html>
<html ng-app='clothesStore'>
  <head>
    <title>Clothes Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/angular/angular.js"></script>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/storeController.js"></script>
  </head>
  <body>
    <h1>Clothes Store</h1>
    <p>Welcome to my Clothes Store</p>
  </body>
</html>
