<center>
  <span ng-repeat="category in storeCtrl.categories track by $index">
    <button class="btn btn-success" ng-click='storeCtrl.showCategories(category)'>{{category}}</button></li>
  </span>
</center>
<br>
