<center>
  <div id="product-list" ng-repeat="product in storeCtrl.currentProducts track by $index">
    <div class='product-box'>
      <img class="product-images" ng-src="/images/items{{$index}}.jpg"></img>
      <p class='product-description' id='product{{ $index }}'>{{ product.name }} <i> <strike> {{ product.old_price | currency: "£" }} </strike> {{ product.price | currency: "£"}} </i> </p>
      <button class="btn btn-primary" id='product-btn{{ $index }}' ng-hide='storeCtrl.outOfStock(product)' ng-click='storeCtrl.addToCart(product)'>Add to Cart</button>
      <p id='outOfStock-{{ $index }}' ng-show='storeCtrl.outOfStock(product)'><i>Out of Stock</i></p>
    </div>
  </div>
</center>
