<center>
  <h3 class='text-primary' >Shopping Cart</h3>
  <div id='vouchers' ng-model='storeCtrl.bestVoucher'>
    <p>
      <i id='voucher-added-msg' ng-show="storeCtrl.voucherApplied">Voucher added</i>
      <button id='best-voucher-btn' class="btn btn-primary" ng-show="storeCtrl.availableVoucher()" ng-click="storeCtrl.applyVoucher()">{{ storeCtrl.bestVoucher.description }}</button>
    </p>
  </div>
  <div id='shopping-cart'>
    <p id='empty-cart-msg' class='description' ng-show='storeCtrl.hasEmptyCart()'>Empty!</p>
    <div id='cart' ng-repeat='item in storeCtrl.shoppingCart'>
      <li class='description'><b>{{ item.quantity }}x</b> {{ item.name }} <i>{{ item.price | currency: "£" }}</i></li>
      <p><button class="btn btn-danger" id='removeproduct-{{$index}}' ng-click="storeCtrl.removeFromCart(item)">Remove</button></p>
    </div>
  </div>
  <div class='description' id='totals' ng-hide='storeCtrl.hasEmptyCart()'>
    <p ng-model='storeCtrl.subTotal'><b>Total:</b> {{ storeCtrl.subTotal | currency: "£" }}</p>
    <p id='applied-discount' ng-hide='storeCtrl.noDiscountApplied()' ng-model='storeCtrl.discount'><b>Discount:</b> {{ storeCtrl.discount | currency: "£" }}</p>
    <p id='discounted-total' ng-hide='storeCtrl.noDiscountApplied()'ng-model='storeCtrl.discountedTotal'><b>Discounted total:</b> {{ storeCtrl.discountedTotal | currency: "£" }}</p>
    <button id='empty-cart-btn' class="btn btn-danger" ng-click='storeCtrl.emptyCart()'>Empty Cart</button>
  </div>
  <br>
</center>
